.inputContainer {
  margin: 20px 0;
  position: relative;
  width: 100%;

  .inputIcon {
    align-items: center;
    display: flex;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  input {
    background-color: #2f303481;
    border-radius: 5px;
    border: 1px solid #4b5663;
    color: white;
    height: 50px;
    padding: 0 20px 0 45px;
    width: 100%;
  }
}
