.videoBgContainer {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -1;
  overflow: hidden;

  video {
    height: 100%;
    width: auto;
    filter: blur(3px);
    object-fit: cover;
    transform: scale(1.06);
  }
}

@media (min-width: 992px) {
  .videoBgContainer {
    video {
      height: auto;
      width: 100%;
    }
  }
}
