.videoBgContainer {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  z-index: -1;

  video {
    filter: blur(3px);
    height: 100%;
    object-fit: cover;
    transform: scale(1.06);
    width: auto;
  }
}

@media (min-width: 992px) {
  .videoBgContainer {
    video {
      height: auto;
      width: 100%;
    }
  }
}
