.marketPricesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  min-height: max-content;
  width: 100%;

  .loaderContainer {
    height: auto;
    max-width: 110px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .marketPricesContainer {
    align-items: flex-end;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    min-height: 50vh;
    padding: 0 30px;
    width: 30vw;

    .loaderContainer {
      margin: 35px 0;
      max-width: 250px;

      &:first-child,
      &:last-child {
        align-self: flex-start;
      }
    }
  }
}
