.backdrop {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 100;

  .modal {
    background-color: white;
    border-radius: 20px;
    color: black;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    width: 90vw;

    .closeBtn {
      text-align: right;
      button {
        background-color: transparent;
        border: none;
        padding: 0;
      }
    }

    input {
      background-color: transparent;
      color: black;
    }

    button {
      margin: 0 auto;
    }
  }
}

@media (min-width: 992px) {
  .backdrop {
    .modal {
      padding: 30px;
      width: 100%;
    }
  }
}
