.floatingBoxContainer {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.438);
  background: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  height: max-content;
  margin: 0 2px;
  max-width: 110px;
  min-height: 80px;
  padding: 5px 0;
  width: max-content;

  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    .currCountries {
      display: block;
      margin: 5px 0;
      width: 35px;
    }

    div {
      margin: 0 15px;

      h5,
      p {
        margin: 0;
      }

      h5 {
        font-family: 'Raleway';
        font-size: 14px;
      }

      p {
        font-family: 'Roboto';
        font-size: 12px;
      }

      .lastUpdate {
        font-family: 'Roboto';
        font-size: 10px;
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: 992px) {
  .floatingBoxContainer {
    margin: 30px 0;
    max-width: 250px;
    width: 100%;

    &:first-child,
    &:last-child {
      align-self: flex-start;
    }

    .wrapper {
      flex-direction: row;
      padding: 0 20px;

      .currCountries {
        width: 50px;
      }

      div {
        h5 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}
